body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: brown;
    color: white;
    padding: 5px;   
    box-shadow: 10px 8px 6px rgb(46, 8, 4);
    border-radius: 5%;

}
#logo{
    width:100px;
    height:80px;
    border-radius: 60%; 
    position:absolute;   
    left: 20px;
    top:20px ;
       
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content:center;
   
}

nav ul li {
    margin: 0 15px;
 
   
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    
    padding: 50px 20px;
    flex: 1; 
}
.in{
    width:400px;
    height:500px;
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
.search-area {
    text-align: center;
    margin: 20px;
}

#searchmeal {
    padding: 10px;
    width: 60%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    margin: 30px;
    background-color: slateblue;
    color: white;
    border: none;
    cursor: pointer;
}
#displayArea {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));;
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
}

.innerdivstyle {
    background-color: rgb(217, 236, 236);
    padding: 20px;
    border: 4px solid brown;
    box-shadow: 8px 6px 3px slateblue;
    margin:20px;
}

.innerdivstyle img {
    width: 100%;
    height: auto; 
}

#showAllButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: slateblue;
    color: white;
    border: none;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    
}

#showAllButton:hover {
    background-color: darkslateblue;
}




#content-area {
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: slateblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

button:hover {
    background-color: darkslateblue;
}
#paragraph{
    font-style: italic;
    text-align: center;
    padding: 20px;
    margin: 30px;
   font-family: cursive;
   color: rgb(35, 5, 94);

}
