body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: brown;
    color: white;
    padding: 5px;   
    box-shadow: 10px 8px 6px rgb(46, 8, 4);
    border-radius: 5%;

}
#logo{
    width:100px;
    height:80px;
    border-radius: 60%; 
    position:absolute;   
    left: 20px;
    top:20px ;
       
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content:center;
   
}

nav ul li {
    margin: 0 15px;
 
   
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    
    padding: 50px 20px;
    flex: 1; 
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
